# Fill this APP_KEY with random string
APP_KEY=50m3r4nd0m4w3s0m35tr1ng

# Change DB_USERNAME and DB_PASSWORD
DEVELOPMENT_DATABASE_URL=DB_USERNAME:DB_PASSWORD@(127.0.0.1:3306)/beasiswakita_development

# Host to serve image PATH
BEASISWAKITA_HOST=http://localhost:8061